<br />
<br />
<br />
<div class="container" id="info_project">
  <div class="ui menu">

<h1>Editar risco cadastrado</h1>

<%= render 'form', managment_risk: @managment_risk %>

<%= link_to 'Show', @managment_risk %> |
<%= link_to 'Back', managment_risks_path %>

</div>
</div>