<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Olá!</h1>
    <p>A user story US-<%= @user_story.project.initial.upcase %>-<%= @user_story.id %> <%= @user_story.title %> foi atualizada com sucesso no projeto <%= @user_story.project.name %>! </p>
    <p>Havendo dúvidas contate o administrador.</p>
    <br />
    <p>Equipe Agile Kronos.</p>
  </body>
</html>