<br />
<div class="container">
  <div class="ui menu">
     <h2>Nova User Story</h2>
  </div>

  <%= render 'form' %>
   <br />
    <%= link_to 'Salvar', new_user_story_path({ controller: 'user_stories', action: 'create' }), class: 'item save blue_button' %>
    <%= link_to 'Cancelar', user_stories_path, class: 'item save red_button' %>
    <br />
    <br />
</div>
