<p></p>

<div class="ui container">
  <div class="ui menu">
     <strong class="item active">Novo User Story</strong>
    <%= link_to 'Salvar', '#', class: 'item save' %>
    <%= link_to 'Cancelar', user_stories_path, class: 'item' %>
  </div>

  <%= render 'form' %>
</div>
