<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Olá!</h1>
    <p>A sprint <strong><%= @sprint.name %></strong> foi conclída com sucesso.</p>
    <p>Havendo dúvidas contate o administrador.</p>
    <br />
    <p>Equipe Agile Kronos.</p>
  </body>
</html>