<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Olá!</p>
    <p>Você tem uma sprint atrasada.</p>
    <p>Acesse <%= link_to "#{ ENV['host'] }", "#{ ENV['host'] }" %> </p>
    <br />
    <p>Equipe Agile Kronos.</p>
  </body>
</html>