<p></p>

<div class="ui container">
  <div class="ui menu">
    <a href="#" class="item active"><strong>Nova Função</strong></a>
  </div>

  <%= render 'form' %>
    <br />
    <%= link_to 'Salvar', new_function_path({ controller: 'functions', action: 'create' }), class: 'item save ui blue button' %>
    <%= link_to 'Cancelar', functions_path, class: 'ui red button' %>
</div>
