<!-- NAVBAR -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- links da navbar -->
    <div class="collapse navbar-collapse navbar-submenu-collapse">
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- /NAVBAR -->

<%= render 'form' %>