
<div class="container">
  <div class="ui menu">
    <a href="#" class="item active"><strong>Tasks</strong></a>
    <%= link_to "Nova tarefa", tasks_path, class: 'item' %>
    <%= link_to "Cancelar", tasks_path, class: 'item' %>
  </div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">

 
</nav>
<!-- /NAVBAR -->

<%= render 'form' %>

