<% if resource.errors.any? %>
      <div class="container">
        <div class="alert_danger">
           <div class="close icon">x</div>
              <div class="header">
            <% resource.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
<% end%>