
  <div class="container" id="info_project">
  <br />
    <h2>Notificações</h2>

 
    <span class="">
      <%= link_to clean_notifications_path, class: 'orange_button', method: 'delete' do %>
      Limpar notificações
      <% end %>
    </span>

  <div class="list">
    <% if @notifications.blank? %>
     <br />
      <div class="no-records">Nenhuma notificação</div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <%= render notifications %>
          <div class="group-title"><%# group %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
