<p></p>

<div class="ui container">
     <h1>Editar usuário</h1>
    <hr>
    <br />
  <%= render 'form' %>
    <br />
   <%= link_to 'Salvar', '#', class: 'item save ui blue button' %>
   <%= link_to 'Cancelar', user_stories_path, class: 'item ui red button' %>
</div>
