<p></p>

<div class="ui container">
    <h1>Novo usuário</h1>
    <hr>
    <br />
    
    <%= link_to 'Salvar', new_user_path, class: 'item save ui blue button info_accordion', id: "btn_save_user" %>
    <%= link_to 'Cancelar', users_path, class: 'item ui red button info_accordion', id: "btn_cancel_user" %>
    <br />
    <br />

  <%= render 'form' %>
    <br />
  </div>
