
<br />
<div class="container">
  <h1>Configurações <%= image_tag("configuracao.png") %> </h1>
  <hr>

    <div class="space_card">
      <button class="card" onclick="window.location.href='<%= functions_path %>'">
        <%= image_tag("team_configuration.png") %>
        <div class="description">
          Configure aqui a posição de cada membro no projeto.
           <p></p>
           <p></p>
        </div>
      </button>
   </div>
</div>