<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Olá <%= @function_user_project.user.name %>!</h1>
    <p>Você concluiu uma tarefa <strong>TK-<%= @project.initial %>-<%= @task.id %>  <%= @task.title %></p>
    <p>Havendo dúvidas contate o administrador.</p>
    <br />
    <p>Equipe Agile Kronos.</p>
  </body>
</html>