<!-- BREADCRUMB -->
<div class="breadcrumb">
  <br />
  <%= link_to "Projetos", projects_path, class: 'section' %>
  /
  <%= link_to current_project.name, project_path(current_project), class: 'section' %>
  /
  <b>Membros</b>
</div>
<!-- /BREADCRUMB -->