

<div class="container">
  <div class="ui menu">
    <h2>Membro</h2>
    <%= link_to 'Editar', edit_function_user_project_path(@function_user_project), class: 'item blue_button' %>
    <%= link_to 'Voltar', function_user_projects_path, class: 'item red_button' %>
  </div>

    <p>
    <strong>Usuário:</strong>
    <%= @function_user_project.user.name %>
  </p>
    <p>
    <strong>Função:</strong>
    <%= @function_user_project.function.name %>
  </p>
  
</div>
