* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    background-image: linear-gradient(rgba(101, 180, 255, 0.9), rgba(0,0,0,0)), url("fundo.png");
    background-size: cover;
    background-position: center center;
    border-top:5px solid #071f8c;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 40%,0 40%);
}

div#box-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29% ;
    height: 350px auto;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.49); 
    box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.49);
    border-radius: 15px;
}


input {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    width: 90%;  
    height: 52px;
    margin: 20px;
    padding: 0 20px 0 38px;
    border-radius: 5px;
    border-width: thin;
}

input:hover {
    background: #f1f1f1;
}

input#button {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    margin:20px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;
    width: 90%;
    height: 62px;
    background-color: #252527;
    border-radius: 3px;
    transition: all 0.4s;
}

submit{
    background-color: #252527;
}

img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 0 auto;
}

img#image-left{
    position: absolute;
    display: flex;
    top: 0;
    float: left;
    width: 420px;
    height: 420px;
    transform: translate(10%, 20%);
}

img#image-right{
    position: absolute;
    display: block;
    top: 0;
    width: 420px;
    height: 450px;
    transform: translate(215%, 15%);
}

footer {
    margin-top: -70px;
    position: absolute;
    width: 100%;
    height: 11%;
    background-color: #323233;
}

footer ul li {
    position: relative;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #fafaff;
}

footer ul li::after {
    display: block;
    background-color: #ffffff;
    height: 2px;
    width: 78%;
    margin: 7px auto 5px;
    content: " ";
}

/***********************************************************/
/*****************  T I P O G R A F I A *******************/
/**********************************************************/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: 'Courier New', Courier, monospace;

}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(112, 168, 241);
    text-decoration: none;
    margin: 20px;
}

footer ul li {
    position: relative;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #fafaff;
    margin:20px;
}

footer a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

/*********************************************************/
/***************  Layout Alerts          *****************/
/*********************************************************/

.alert_success {
    padding: 10px;
    margin: 20px;
    background-color: #2C662D;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert_notice {
    padding: 10px;
    margin: 20px;
    background-color: #06738f;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert_danger {
    padding: 10px;
    margin: 20px;
    background-color: #f44336;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
.closebtn:hover {
  color: black;
}

/**********************************************************/
/*************** M E D I A S   Q U E R I E S **************/
/**********************************************************/
@media only screen and (min-width:1900px){
    * {
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    div#box-center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        height: 90px auto;
        padding: 20px;
        margin-top: -49px;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.49); 
        box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.49);
        border-radius: 15px;
    }
    

    img#logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        margin-top: 90px;
        
    }

    img#image-left{
        position: absolute;
        display: flex;
        top: 0;
        float: left;
        width: 420px;
        height: 420px;
        transform: translate(27%, 50%);
    }

    img#image-right{
        position: absolute;
        display: block;
        top: 0;
        width: 420px;
        height: 450px;
        transform: translate(320%, 35%);
      }
}


@media only screen and (max-width:1024px){ 
    img#logo {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        margin-top: 0 auto;

    }
    img#image-left, img#image-right{
        display: none;
    }
    
    header{
        height: 580px;
        bottom: 0px;   
    }
    
    div#box-logo{
        text-align: center;
    }
    
    div#box-center {
        float: left;
        width: 80%;
        margin-top: 65px;
        margin-left: 5px;
        border-radius: 0%;
        -webkit-box-shadow: 0px; 
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.150);
    }
    
    input{
        margin:30px;
    }
    
    a, button {
        margin:30px;
    }
    
}

@media only screen and (max-width:812px){ 
    img#logo {
        display: block;
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 20%;
        width: 200px;
        margin-top: 0 auto;
    }
    img#image-left, img#image-right{
        display: none;
    }
    
    header{
        height: 90%;    
    }
    
    div#box-logo{
        float: left;
        text-align: center;
    }
    
    div#box-center {
        float: left;
        width: 100%;
        margin-top: 65px;
    }
    
    input{
        margin:15px;
    }
    
    a, button {
        margin:15px;
    }
    
}

@media only screen and (max-width:412px)
and (-webkit-min-device-pixel-ratio: 1){ 

    img#logo {
          margin-left: 165px;
    }
    img#image-left, img#image-right{
        display: none;
    }
    
    header{
        height: 400px;    
    }

    .alert.alert_danger .alert.alert_notice{
        width: 89%;
        margin-left: 36px; 
    }

    .alert.alert_notice{
        width: 89%;
        margin-left: 36px;
    }
    
    .alert_danger{
        width: 89%;
        margin-left: 36px; 
    }
    
    div#box-logo{
        float: left;
        text-align: center;
       
    }
    
    div#box-center {
        float: left;
        width: 90%;
        height: 50%;
        margin-top: 70px;
        margin-left: 5px; 
    }

    div#box-center p{
        margin-left: -120px;
    }
    
    div#box-center a {
        margin-left: 36px;  
    }
    
    div#box-center input{
        margin-left: 36px; 
    }

}

@media only screen 
  and (max-device-width: 914px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) { 
    header{
      height: 100%;
    } 
    
    img#logo {
        transform: translate(-5%, -50%);
    }
    div#box-center {
      float: left;
      width: 90%;
      height: 65%;
      margin-top: 10px;
      margin-left: 10px; 
    }
}


@media only screen and (max-width:360px){
    img#logo {
        transform: translate(-35%, -30%);
    }
    img#image-left, img#image-right{
        display: none;
    }
    
    .alert.alert_danger .alert.alert_notice{
        width: 89%;
        margin-left: 36px; 
    }

    .alert.alert_notice{
        width: 89%;
        margin-left: 36px;
    }
    
    .alert_danger{
        width: 89%;
        margin-left: 36px; 
    }

    div#box-logo{
        float: left;
        text-align: center;
    }
    
    div#box-center {
        left: 175px;
        top: 340px;
        padding: 0;
    }  

    div#box-center p{
      margin-left: 36px; 
    }
    
    div#box-center a {
       margin-left: 36px;  
    }
    
    div#box-center input{
        margin-left: 36px; 
    }

   input#button {
        width: 89%;
        margin-left: -122px;
    }
}
/* 
@media only screen and (max-width:1000px){ 
    img#logo {
        display: block;
        margin-top: 30px;
        margin-left: 40%;
        margin-right: 40%;
        width: 200px;
        margin-top: 0 auto;
    }
    img#image-left, img#image-right{
        display: none;
    }
    
    header{
        height: 340px;
        bottom: 0px;   
    }
    
    div#box-logo{
        text-align: center;
    }
    
    div#box-center {
        float: left;
        width: 80%;
        height: 50%;
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 0%;
        -webkit-box-shadow: 0px; 
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.150);
    }
    
    input{
        margin:30px;
    }
    
    a, button {
        margin:30px;
    }
    
    footer {
        bottom: 0;
        position: fixed;
    }
    
    footer {
        margin-top: 170px;
        position: absolute;
        padding: 10px;
        width: 100%;
        height: 90px;
        background-color: #323233;
    }
}
 */

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) { 
    div#box-center {  
      margin-left: 47px;
    }
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 653px) 
  and (orientation: landscape) {
    div#box-center {  
      top: -26px;
      margin-left: 87px;
    }
}


/* ---------------------------------------- */

/* Portrait */
@media screen 
  and (device-width: 279px) 
  and (device-height: 705px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) { 
    div#box-center { 
    
      margin-left: 47px;
      background-color: #f44336;
    }
}

/* Landscape */
@media screen 
  and (device-width: 279px) 
  and (device-height: 705px) 
  and (orientation: landscape) {
    div#box-center {  
      margin-top: 0px; 
      margin-left: 87px;
      background-color: #f44336;
    }
}

   
/* -----------     iPhone XR  -------------------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    img#logo {
      transform: translate(-35%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }

    div#box-center{
        margin-top: -25px;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 27px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 27px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 27px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
      margin-left: 27px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 27px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 27px;
      bottom: 30px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    img#logo {
      transform: translate(-15%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }

    div#box-center{
        margin-top: 35px;
        margin-left: 0px;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 25px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 25px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 25px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
        margin-left: 25px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
        margin-left: 25px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 25px;
      bottom: 30px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5/SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    img#logo {
      transform: translate(-33%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }

    div#box-center{
      margin-top: -15px;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 20px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 20px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 20px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
      margin-left: 20px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 15px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 20px;
      bottom: 30px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    div#box-center{
      top:182px;
      margin-left: 0px;

    }
    
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 10px;
    }

    

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    img#logo {
      transform: translate(-15%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 35px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 35px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 35px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
      margin-left: 20px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 35px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 35px;
      bottom: 30px;
    }   
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    div#box-center{
      margin-left: 25px;
    }
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
        margin-left: 5px;
    }
  

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    img#logo {
      transform: translate(-35%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }

    div#box-center{
      margin-left: 25px;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 0px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 0px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 0px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
      margin-left: 25px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 0px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 0px;
      bottom: 30px;
    } 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    img#logo {
      transform: translate(-20%, -30%);
    }
  
    img#image-left,
    img#image-right {
      display: none;
    }

    div#box-center{
      margin-left: 40px;
    }
  
    .alert.alert_danger .alert.alert_notice {
      width: 89%;
      margin-left: 60px;
    }
  
    .alert.alert_notice {
      width: 89%;
      margin-left: 60px;
    }
  
    .alert_danger {
      width: 89%;
      margin-left: 60px;
    }
 
    div#box-logo {
      float: left;
      text-align: center;
    }
  
    div#box-center p {
      margin-left: 25px;
    }
  
    div#box-center input#user_email, 
    div#box-center input#user_password, 
    div#box-center a {  
      margin-left: 60px;
    }
  
    div#box-center input#button {
      width: 89%;
      margin-left: 60px;
      bottom: 30px;
    } 

}



/* ----------- iPhone X ----------- */


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      img#logo {
        transform: translate(-20%, -30%);
      }
    
      img#image-left,
      img#image-right {
        display: none;
      }
  
      div#box-center{
        margin-top: 45px;  
        margin-left: 10px;
      }
    
      .alert.alert_danger .alert.alert_notice {
        width: 89%;
        margin-left: 30px;
      }
    
      .alert.alert_notice {
        width: 89%;
        margin-left: 30px;
      }
    
      .alert_danger {
        width: 89%;
        margin-left: 30px;
      }
   
      div#box-logo {
        float: left;
        text-align: center;
      }
    
      div#box-center p {
        margin-left: 50px;
      }
    
      div#box-center input#user_email, 
      div#box-center input#user_password, 
      div#box-center a {  
        margin-left: 30px;
      }
    
      div#box-center input#button {
        width: 89%;
        margin-left: 30px;
        bottom: 30px;
      } 
} 

/* ----------- iPad Mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    img#logo {
      transform: translate(-20%, -30%);
    }

}

/* ----------- iPhone 12 Pro ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 390px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    img#logo {
      transform: translate(-10%, -46%);
    }

    header{
      height: 25%;

    }

    div#box-center {
      margin-top: -15px;
      margin-left: -15px;
      margin-bottom: 40px;
    }
    input#user_email{
      margin-top: 10px;
    }
    input#button{
      margin-bottom: 50px;
    }

}

