<p></p>
 <%= render 'releases/breadcrumb' %>
 <br />
 <br />

<div class="container">

  <%= render 'form' %>
  <br />
    <%= link_to 'Salvar', new_release_path({ controller: 'releases', action: 'create' }), class: 'ui blue button item save' %>
    <%= link_to 'Cancelar', releases_path, class: 'item ui red button' %>
</div>
