<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Olá <%= @function_user_project.user.name %>!</h1>
    <p>Você foi associado(a) como <strong><%= @function_user_project.function.name  %></strong> ao projeto <strong><%= @function_user_project.project.name %></strong></p>
    <p>Acesse: <a href="https://agilekronos.online">https://agilekronos.online</a> </p>
    <br />
    <p>Equipe Agile Kronos.</p>
  </body>
</html>