<!-- side left menu -->
<div class="sidenav">
  

  <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>

  Projetos
  <% end %>

  <%= link_to users_path, class: "#{is_current_page?(users_path)} item" do %>

  Usuários
  <% end %>

  <%= link_to settings_path, class: "#{is_current_page?(settings_path)} item" do %>

  Configurações
  <% end %>
</div>