<!-- alert notification -->
<% if flash[:notice] %>
<p></p>
<div class="container">
  <div class="alert_success">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>     
    <p><%= flash[:notice] %></p>
    <p></p>
  </div>
</div>  
<p></p>
<% end %>


<!-- alert success -->

<% if flash[:success] %>
<p></p>
<div class="container">
   <div class="alert_success">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
     <p><%= flash[:success] %></p>
   </div>
 </div>
 <p></p>  
<% end %>

<!-- alert success -->
<% if flash[:alert] %>
<p></p>
<div class="container">
  <div class="alert_danger">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p><%= flash[:alert] %></p>
  </div>
</div>
<p></p>
<% end %>