

  <div class="sidenav">
    <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
    Projetos
    <% end %>

    <%= link_to projects_path do %>
     Backlog
    <% end %>

   <%= link_to projects_path do %>
     Repositório
   <% end %>

   <%= link_to projects_path do %>
     Equipe
   <% end %>
</div>

