
<!--
 <div class="sidebar">

 
<nav>
 <ul>
    <li>
      <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
      Projetos
      <% end %>
    </li>
      <%= link_to projects_path do %>
       Backlog
      <% end %>
    <li>
     <%= link_to projects_path do %>
       Repositório
     <% end %>
    </li>
     <%= link_to projects_path do %>
       Equipe
     <% end %>
    </li>
  
</ul>
</nav>
</div>
-->