 <div class="sidebar">

  <nav>
    <ul>
      <li>
        <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
              Projetos
        <% end %>
      </li>
    </ul>
  </nav>

</div>