<p>Olá <%= @resource.name %>!</p>

<p>Para alterar sua senha clique no link abaixo</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que solicitou a alteração ignore esse email.</p>
<p><b>Sua senha não será alterar enquanto você não clicar no link acima e preencher os campos corretamente.</b></p>
